.ledger {
  color: rgba(29, 32, 40, 1);

  [data-theme='dark'] & {
    color: rgba(255, 255, 255, 1);
  }
}

.metamask {
  color: rgba(22, 22, 22, 1);

  [data-theme='dark'] & {
    color: rgba(255, 255, 255, 1);
  }
}
