@import 'src/styles/text';

.component {
  border-radius: 6px;

  :global(.ant-modal-content) {
    box-shadow: var(--theme-card-shadow);
    border-radius: 6px;
  }

  :global(.ant-modal-close) {
    top: 32px;
    right: 32px;
  }

  :global(.ant-modal-close-x) {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  :global(.ant-modal-close-x) svg {
    color: var(--theme-icon-color);
  }

  :global(.ant-modal-header) {
    padding: 32px;
    background: var(--L11-D11);
    border-bottom: 1px solid var(--L4-D4);
    border-radius: 6px 12px 0 0;

    :global(.ant-modal-title) {
      @include font-p1-semi-bold;
      font-weight: 800;
      color: var(--L8-D8);
      font-size: 14px;
      font-family: 'Manrope', sans-serif;
    }
  }

  :global(.ant-modal-body) {
    background: var(--L11-D11);
    overflow-y: auto;
    border-radius: 6px;
  }

  :global(.ant-modal-header) + :global(.ant-modal-body) {
    border-radius: 0 0 12px 12px;
  }
}
