$color-red600: #cc362e;
$color-red500: #ff4339;
$color-red400: #ff6961;
$color-red50: #fff6f5;

$color-grey300: #aaafb3;
$color-grey100: #e3e4e6;

$color-blue600: #3f55b7;
$color-blue500: #4f6ae6;
$color-blue400: #7288ea;
$color-blue300: #95a6ef;
$color-blue50: #f6f8fe;

// New colors
$web-gradient-1: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);

$light-mode-1: #fff; // Basic white
$light-mode-2: #f8f8f9; // Body bg
$light-mode-3: #f2f2f2; // Bg text label (for tags)
$light-mode-4: #dfdfe0; // Border line
$light-mode-5: #dadbdc; // Border line (Page cards border)
$light-mode-6: #e6e6e6; // Border line (vertical)
$light-mode-7: #999; // Gray text's color
$light-mode-8: #000; // Black color
$light-mode-9: #ffe654; // Yellow color
$light-mode-10: #19b9a1; // Green color


$dark-mode-1: #000; // Basic color - black
$dark-mode-2: #1b1c32; // Body bg
$dark-mode-3: #1e1e34; // Bg text label (for tags)
$dark-mode-4: #3b3c52; // Border line
$dark-mode-5: #5b5b6b; // Border line (Page cards border)
$dark-mode-6: #3b3c54; // Border line (vertical)
$dark-mode-7: #7c7d8d; // Gray text's color
$dark-mode-8: #fff; // Basic color - white
$dark-mode-9: #ffe654; // Yellow color
$dark-mode-10: #19b9a1; // Green color
$dark-mode-11: #252641; // Header and blocks bg
$dark-mode-12: #36385b; // Tooltip bg
$dark-mode-13: #30314a; // Social link bg (footer)
$dark-mode-14: #45465c; // Social link bg (border)
