@import 'antd.css';
@import 'flex';
@import 'grid';
@import 'box';
@import 'colors';
@import 'text';
@import 'utils';
@import 'button';
@import 'rechart';

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  background: var(--L2-D2);
  color: var(--L7-D7);
  font-family: var(--font-family-Manrope);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-block-size: 100%;
  min-inline-size: 100%;
}

body[data-fixed='true'] {
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: unset;
}

svg,
svg * {
  transition: none !important;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

#root {
  min-height: 100vh;
}

body.mobile-menu-open {
  overflow: hidden;
}

.ant-notification-notice {
  word-break: break-word;

  .ant-notification-notice-message {
    min-height: 24px;
  }
}

:root {
  --font-family: 'Manrope', sans-serif;
  --font-family-Manrope: 'Manrope', sans-serif;
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-p1: 16px;
  --font-size-p2: 14px;
  --font-size-lb1: 14px;
  --font-size-lb2: 12px;
  --font-size-sm: 12px;

  //--theme-body-color: #f8f8f9; // grey50
  //--theme-card-color: #fff;
  //--theme-overlay-color: #f9f0f8;
  --theme-mask-color: rgba(0, 0, 0, 0.08);
  //--theme-border-color: #f2edf1; // grey100
  --theme-icon-color: #aaafb3; // grey300
  --theme-icon-hover-color: #060a0d; // grey900

  --theme-primary-color: #552c49;
  --theme-secondary-color: #83767f;
  --theme-secondary-color-rgb: 113, 121, 128; // grey500
  --theme-default-color: #aaafb3; // grey300

  --theme-card-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4), 0 8px 16px rgba(113, 121, 128, 0.08);

  --theme-modal-overlay: rgba(0, 0, 0, 0.7);

  --theme-input-background: #fff;
  --theme-input-placeholder: #aaafb3;

  --theme-red-color: #ff4949; // red500
  --theme-red-color-rgb: 255, 73, 73; // red500

  --theme-green-color: #19b9a1; // green500
  --theme-green-color-rgb: 42, 208, 202; // green500

  --theme-green700-color: #007f59;

  --theme-blue-color: #4f6ae6; // blue500
  --theme-blue-color-rgb: 79, 106, 230; // blue500
  --theme-blue400-color: #7288ea;

  --theme-yellow-color: #ffe654; // yellow600
  --theme-yellow-color-rgb: 255, 230, 84; // yellow600

  --theme-purple-color: #a26ee3; // purple500
  --theme-purple-color-rgb: 162, 110, 227; // purple500
  --theme-purple700-color: #614288;

  --theme-grey900-color: #060a0d;

  --theme-white-color: #fff;

  --horizontal-padding: 64px;

  --gradient-green: linear-gradient(135deg, #2dd867 15.57%, #27ddc3 84.88%); // rgb(188, 235, 0) rgb(0, 234, 234)
  --gradient-green-opacity: linear-gradient(135deg, rgba(188, 235, 0, 0.16) 15.57%, rgba(0, 234, 234, 0.16) 84.88%);
  --gradient-green-safe: #2ad0ca;
  --gradient-red: linear-gradient(135deg, #de4b4b 0%, #f15e1f 100%); // rgb(255, 116, 57) rgb(255, 57, 188)
  --gradient-red-opacity: linear-gradient(135deg, rgba(255, 116, 57, 0.16) 15.57%, rgba(255, 57, 188, 0.16) 84.88%);
  --gradient-red-safe: rgba(239, 74, 71, 0.04);
  --gradient-blue: linear-gradient(135deg, #81b5f3 0%, #13a5d3 100%); // rgb(145, 79, 230) rgb(49, 108, 223)
  --gradient-blue-opacity: linear-gradient(135deg, rgba(145, 79, 230, 0.16) 15.57%, rgba(49, 108, 223, 0.16) 84.88%);
  --gradient-blue-safe: #81b5f3;
  --gradient-yellow: #{$light-mode-9};
  --gradient-yellow-safe: #{$light-mode-9};
  --gradient-pink: linear-gradient(135deg, #dd3dcb 0%, #ef9c92 100%);

  --theme-tooltip-bg: #f9f0f8;
  --theme-tooltip-item-bg-active: #ef9c92;

  --theme-header-shadow: 5px 0 20px #f1dbee;
  --theme-selection-color: #19b9a1;

  --L1-D1: #{$light-mode-1};
  --L2-D2: #{$light-mode-2};
  --L3-D3: #{$light-mode-3};
  --L4-D4: #{$light-mode-4};
  --L5-D5: #{$light-mode-5};
  --L6-D6: #{$light-mode-6};
  --L7-D7: #{$light-mode-7};
  --L8-D8: #{$light-mode-8};
  --L9-D9: #{$light-mode-9};
  --L10-D10: #{$light-mode-10};
  --L11-D11: #{$light-mode-1};
  --L12-D12: #{$dark-mode-8};
}

@media (max-width: 1024px) {
  :root {
    --font-size-h1: 28px;
    --font-size-h2: 24px;
    --font-size-h3: 18px;
    --font-size-p1: 16px;
    --font-size-p2: 14px;
    --font-size-lb1: 13px;
    --font-size-lb2: 12px;
    --font-size-sm: 14px;
  }
}


@media (max-width: 768px) {
  :root {
    --horizontal-padding: 24px;
  }
}

[data-theme='dark'] {
  //--theme-body-color: #0b0834;
  //--theme-card-color: #0b0834;
  //--theme-overlay-color: #1f1b59;
  --theme-mask-color: rgba(32, 37, 41, 0.8);
  //--theme-border-color: #1a164f;
  --theme-icon-color: #606268;
  --theme-icon-hover-color: #fff;
  --theme-icon-hover-gradient: linear-gradient(135deg, #dd3dcb 15%, #ef9c92 85%);

  --theme-primary-color: #fff;
  --theme-secondary-color: #b3b1cf;
  --theme-default-color: #b3b1cf;

  --theme-card-shadow: 0 0 0.5px #fff, 0 32px 64px rgba(0, 0, 0, 0.32);

  --theme-input-background: #1d1d1d;
  --theme-input-placeholder: #606268;

  --theme-tooltip-bg: #1f1b59;
  --theme-tooltip-item-bg-active: #161344;

  --theme-header-shadow: 0 12px 25px #161344;

  --L1-D1: #{$dark-mode-1};
  --L2-D2: #{$dark-mode-2};
  --L3-D3: #{$dark-mode-3};
  --L4-D4: #{$dark-mode-4};
  --L5-D5: #{$dark-mode-5};
  --L6-D6: #{$dark-mode-6};
  --L7-D7: #{$dark-mode-7};
  --L8-D8: #{$dark-mode-8};
  --L9-D9: #{$dark-mode-9};
  --L10-D10: #{$dark-mode-10};
  --L11-D11: #{$dark-mode-11};
  --L12-D12: #{$dark-mode-12};
}

:focus:not(:focus-visible) {
  outline: 0;
}

body.using-mouse :focus {
  outline: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#notifications-root {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;

  &:empty {
    display: none;
  }
}

.ant-switch.ant-switch .ant-switch-handle::before {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

.ant-switch.ant-switch[aria-checked='false'] {
  background: #43484d;
}

.ant-switch.ant-switch[aria-checked='true'] {
  background: var(--gradient-yellow);
}


.ant-spin .ant-spin-dot {
  color: var(--L7-D7);
}

.ant-spin .ant-spin-dot .ant-spin-dot-item {
  background: var(--L7-D7);
}

.link-gradient:hover {
  opacity: 0.7;
}

ul {
  ::marker {
    color: var(--L8-D8);
  }
}
