@import 'src/styles/text';

.component {
  :global(.ant-table-title) {
    padding: 24px;
    border: 1px solid var(--L4-D4);
    border-bottom: 0;

    &:empty {
      display: none;
    }
  }

  :global(.ant-table-thead .ant-table-cell) {
    @include font-sm-semi-bold;
    padding: 16px 24px;
    background: var(--L11-D11);
    color: var(--L7-D7);
    border-bottom: 1px solid var(--L4-D4);

    :global(.ant-table-column-sorters) {
      padding: 0;
    }
  }

  &:not(:global(.ant-table-in-card)) {
    :global(.ant-table-container) {
      //border-left: 1px solid var(--L4-D4);
      //border-right: 1px solid var(--L4-D4);
    }

    :global(.ant-table-thead .ant-table-cell) {
      border-top: 1px solid var(--L4-D4);
      border-bottom: 1px solid var(--L4-D4);
      border-radius: 0;
    }
  }

  :global(.ant-table-tbody) {
    border-radius: 6px;

    :global(.ant-table-placeholder):hover {
      :global(.ant-table-cell) {
        background: var(--L11-D11);
      }
    }

    :global(.ant-table-row):hover {
      :global(.ant-table-cell) {
        background: var(--L3-D3);

        &:not(:last-of-type):first-of-type {
          border-left: 2px solid var(--L4-D4);
        }
      }
    }

    :global(.ant-table-cell) {
      padding: 16px 24px;
      background: var(--L11-D11);
      border-bottom: 1px solid var(--L4-D4);
      vertical-align: top;
      color: var(--L7-D7);
      white-space: nowrap;

      &:first-of-type {
        border-left: 2px solid transparent;
      }

      &:first-of-type:last-of-type {
        border: 0;
        border-radius: 6px;
      }
    }
  }

  :global(.ant-table-footer) {
    background: var(--L11-D11);

    &:empty {
      display: none;
    }
  }

  :global(.ant-pagination) {
    margin: 0;
    padding: 24px;
    background: var(--L11-D11);
    // border: 1px solid var(--L4-D4);
    border-radius: 0 0 12px 12px;

    :global(.ant-pagination-total-text) {
      @include font-p2-semi-bold;
      width: 100%;
      color: var(--L7-D7);
      display: flex;
      align-items: center;
    }

    :global(.ant-pagination-item-link) {
      background: none;
      border: 0;
      color: var(--theme-icon-color);
    }

    :global(.ant-pagination-item) {
      background: none;
      border: 0;
      font-weight: 600;

      &:global(.ant-pagination-item-active) > a {
        color: var(--L8-D8);
      }

      > a {
        color: #83767F;

        [data-theme='dark'] & {
          color: #B3B1CF;
        }
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      :global(.ant-pagination-item) {
        justify-content: flex-start;
        margin-right: 0;
      }

      :global(.ant-pagination-jump-next .ant-pagination-jump-next-custom-icon) {
        margin-right: 0;
      }

      :global(.ant-pagination-prev) {
        margin-right: 0;
      }


      :global(.ant-pagination-total-text) {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 8px;
      }
    }
  }
}
