.container {
  margin: 70px 165px;
}

.general__info {
  max-width: 730px;

  h1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    margin: 10px 0;

    [data-theme='dark'] & {
      color: var(--theme-white-color);
    }
  }

  p {
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    [data-theme='dark'] & {
      color: var(--L7-D7);
    }
  }
}

.total__info__container {
  display: flex;
}

.claim__container {
  background-color: var(--L11-D11);
}

.total__info {
  padding: 26px 0;
  position: relative;
}

.airdrop__info__container {
  background-color: var(--L11-D11);
  border-radius: 6px;
  box-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4), 0 8px 16px rgba(113, 121, 128, 0.08);

  position: relative;

  [data-theme='dark'] & {
    box-shadow: 0 0 0.5px #fff, 0 8px 16px rgba(0, 0, 0, 0.32);
  }
}

.total__info__column {
  background-color: var(--L11-D11);
  padding: 26px;
  box-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4), 0 8px 16px rgba(113, 121, 128, 0.08);
  border-radius: 6px;

  [data-theme='dark'] & {
    box-shadow: 0 0 0.5px #fff, 0 8px 16px rgba(0, 0, 0, 0.32);
  }

  > div {
    padding-left: 26px;

    p {
      color: rgba(0, 0, 0, 0.4);
      display: flex;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 8px;

      span {
        margin-left: 5px;
      }
    }

    span {
      color: #000;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;

      img {
        margin-right: 6px;
      }
    }

    [data-theme='dark'] & {
      &:not(:first-child) {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }

      p {
        color: var(--L7-D7);
      }

      span {
        color: #fff;
      }
    }

    &:last-child {
      span {
        color: var(--L10-D10);
      }
    }
  }
}

.airdrop__info__details {
  //grid-column-start: 1;
  //grid-column-end: 6;
}

.general__info {
  font-family: 'Manrope', sans-serif;

  p {
    color: #7c7d8d;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  span {
    color: #000;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
  }

  [data-theme='dark'] & {
    span {
      color: #fff;

      img {
        margin-right: 6px;
      }
    }
  }
}

.total__amount {
  margin-bottom: 46px;

  p {
    font-size: 14px;
    line-height: 20px;
  }

  span {
    font-size: 36px;
    line-height: 120%;
  }
}

.total__airdropped {
  margin-bottom: 20px;

  p {
    font-size: 14px;
    line-height: 20px;
  }

  span {
    font-size: 16px;
    line-height: 150%;
  }
}

.total__bonuses {
  margin-bottom: 20px;

  p {
    font-size: 14px;
    line-height: 20px;
  }

  span {
    color: var(--L10-D10) !important;
    font-size: 16px;
    line-height: 150%;
  }
}

.airdrop__info__week_counter {
  align-self: baseline;
  background: rgba(255, 230, 84, 0.15);
  border: 1px solid #ffe654;
  box-sizing: border-box;
  border-radius: 100px;
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  padding: 4px 12px;
  text-align: center;

  [data-theme='dark'] & {
    background: rgba(255, 230, 84, 0.05);
    color: #ffe654;
  }
}

.footballer {
  position: absolute;
  bottom: 25px;
  right: 75px;
}
