.button {
  min-height: 96px;
  max-height: 96px;

  &:hover {
    background-color: #1f1b59 !important;
  }

  .walleticon {
    filter: grayscale(100%) opacity(60%);
    transition: filter 0.2s ease-out !important;
    color: var(--l8-d8);
    width: 100%;
  }

  &:hover .walleticon {
    filter: grayscale(0%) opacity(100%);
  }
}
