@import 'src/styles/text';

.component {
  @include font-p1-semi-bold;
  width: 100%;
  min-height: 64px;
  padding: 20px 24px;
  background: var(--theme-input-background);
  border: 1px solid var(--L4-D4);
  border-radius: 6px;
  color: var(--L8-D8);

  &:hover,
  &:focus,
  &.ant-input-focused {
    border-color: var(--L7-D7) !important;
    box-shadow: none;
  }

  &::placeholder {
    color: var(--theme-input-placeholder);
  }
}
