.grid {
  grid-template-columns: repeat(3, 240px);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.claimTitle {
  @media (max-width: 768px) {
    font-size: 20px!important;
  }
}

.item {
  &__name {
    align-items: start;

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: 12px;
    }
  }
}
