.wrapBlock {
  position: relative;
  border-radius: 100px;
  width: 100%;
}

.progress {
  height: 8px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
  }

  &::before {
    background: rgba(var(--theme-yellow-color), 0.16);
    right: 0;
    width: calc(100% + 8px);
  }

  &::after {
    background: var(--theme-yellow-color);
    left: 0;
    width: 0;
    border-radius: 100px;
  }
}

.acceptance {
  --acceptance: 50%;
  --acceptance-bg: rgba(var(--theme-yellow-color), 0.16);

  position: absolute;
  left: var(--acceptance, 50%);
  top: 0;
  height: 100%;
  width: 4px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    background: var(--acceptance-bg);
    width: 4px;
    height: calc(8px / 2);
  }

  &::before {
    top: calc(8px / -2);
    border-radius: 100px 100px 0 0;
  }

  &::after {
    bottom: calc(8px / -2);
    border-radius: 0 0 100px 100px;
  }
}
